<!--utworzenie figury mającej na celu przechowanie obrazka--><figure class="galeria">
	<!--wstawienie obrazu znajdującego się w internecie--><img alt="TU POWINIEN BYĆ OBRAZEK" src="https://consumer-img.huawei.com/content/dam/huawei-cbg-site/cee-nordics/pl/support/support-v3/mobileservices/themes/themes-2.png"/>
	<figcaption>To jest jakiś interesujący obrazek...</figcaption><!--nazwanie uprzednio utworzonej figury-->
</figure>
<!--utworzenie figury mającej na celu przechowanie obrazka--><figure class="galeria">
	<!--wstawienie obrazu znajdującego się na komputerze--><img alt="" src="./img/img2.jpg"/>
	<figcaption>To jest jakiś interesujący obrazek...</figcaption><!--nazwanie uprzednio utworzonej figury-->
</figure>
