<!--<form method="post" action="./php/main.php">-->
<div id="form">
	<!--nadanie koloru inputą z nazwą  name-->
	<style>
		input[name="name"] {
			border-color: orange;
		}
	</style>
	<!--utworzenie inputów do których użytkownik może wpisać dane które przejdą przez plik js a później do PHP i zostaną zapisane w bazie danych-->
	<p><input type="text" name="name" placeholder="Podaj swoje imię"/></p>
	<p><input type="text" name="lastname" placeholder="Podaj swoje nazwisko"/></p>
	<p><input type="email" name="email" placeholder="Podaj swój email"/></p>
	<p><textarea name="content" placeholder="Wpisz treść"></textarea></p>
	<!--utworzenie inputów do których użytkownik może zaznaczyć dane które przejdą przez plik js a później do PHP i zostaną zapisane w bazie danych-->
	<fieldset><!--utworzenie pola z ramką-->
		<legend>Twoja płeć</legend><!--nazwanie wcześniej utworzonego pola-->
		<p><input type="radio" name="sex" value="k"/><span>Kobieta</span></p>
		<p><input type="radio" name="sex" value="m"/><span>Mężczyzna</span></p>
		<p><input type="radio" name="sex" value="n" checked="checked"/><span>Nieokreślona</span></p>
	</fieldset>
	<button>Wyślij zapytanie</button><!--przycisk wysyłający dane do sktypyu js-->
</div>
<div id="output">

</div>

<!--</form>-->