html, body {
	margin: 0 !important;
	padding: 0 !important;
}
/*ustawienie ilości,szerokości i wysokości kolumn i wierszy*/ 
#main { 
	display: grid;
	grid-template-columns: 25vw auto 25vw;
	grid-template-rows: 15vh 10vh 65vh 10vh;
}
/*ustawienie koloru tła, kolumny i wiersza*/
#logo {
	background: green;
	grid-row: 1;
	grid-column: 1;
}
/*ustawienie koloru tła, kolumny i wiersza*/
#title {
	background: yellow;
	grid-row: 1;
	grid-column: 2;
}
/*ustawienie koloru tła, kolumny i wiersza*/
#login {
	background: orange;
	grid-row: 1;
	grid-column: 3;
}
/*ustawienie koloru tła, kolumny i wiersza*/
#nav {
	background: red;
	grid-row: 2;
	grid-column: 1 / 4;
}
/*ustawienie koloru tła, kolumny i wiersza*/
#submenu {
	background: blue;
	grid-row: 3;
	grid-column: 1;
}
/*ustawienie koloru tła, kolumny i wiersza*/
#content {
	background: gray;
	grid-row: 3;
	grid-column: 2;
	display: block;
	overflow-y: auto;
	grid-template-columns: repeat(3, 1fr);
}
/*ustawienie kolumny*/
#col1 {
	grid-column: 1;
}
/*ustawienie kolumny*/
#col2 {
	grid-column: 2;
}
/*ustawienie koloru tła, kolumny i wiersza*/
#foot {
	background: lightgray;
	grid-row: 4;
	grid-column: 1 / 4;
}
/*ustawienie pozycji przycisków oraz tekstu i koloru ramki*/
.button {
	position: relative;
	z-index: 1;
	
	text-align: center;
	border: solid yellow 1px;
}
/*ustawienie pozycji środku przycisku, jego wysokość i szerkość oraz koloru tła*/
.button::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: gray;
}
/*zmienienie kursora po najechaniu na przycisk*/
.button:hover {
	cursor: pointer;
}

/*ustawienie przezroczystości po najechniu nkursorem na przycisk*/
.button:hover::before{
	opacity: 0.6;
}
/*ustawienie wyskokości oraz szerokości obrazku znajdującego się w figurze */
figure.galeria img {
	width: 100%;
	height: auto;
}
